* {
  box-sizing: border-box;
  font-family: Consolas, monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  color: #0F0F0F;
  min-width: 640px;
  min-height: 480px;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

#app--canvas-container {
  background-color: #FFFFFF;
  flex: 3 3 0%;
}

#app--canvas-container canvas {
  cursor: crosshair;
}

#app--picker-container {
  border-top: 1px solid #0F0F0F;
  display: flex;
  flex: 1 1 0%;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.picker {
  border: 1px solid #0F0F0F;
  height: 30px;
  width: 100px;
}

.github-link {
  width: 100px;
  height: 41px;
}

.github-link > img {
  width: 100%;
  height: 100%;
}

#app--canvas-container .github-link {
  display: block;
  position: absolute;
  right: 5px;
}
